body {
    padding: 50px;
}

.inline-inputs,
.inline-inputs .form-select {
    display: inline;
}

.progress {
    border-radius: 0;
    min-width: 200px;
    height: 25px;
}

.btn.active {
    background-color: #b7b7b7;
    color: #1a1e21;
}
